<form action="/product/search" method="post">
	<input name="min" th:value="${param.min}" placeholder="Min Price?">
	<input name="max" th:value="${param.max}" placeholder="Max Price?">
	<button>Search</button>
</form>
…
<table border="1" style="width: 100%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Unit Price</th>
            <th>Product Date</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.unitPrice}"></td>
            <td th:text="${item.productDate}"></td>
        </tr>
    </tbody>
</table>
