<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Product Form</title>
</head>

<body>
	<h2>Product Form</h2>
	<form action="/product2/save" method="post">
		<label for="name">Name:</label>
		<input name="name"><br>

		<label for="price">Price:</label>
		<input name="price"><br>

		<button type="submit">Save</button>
	</form>

	<h3>Product Information:</h3>
	<ul>
		<li>Name: <span th:text="${product.name}"></span></li>
		<li>Price: <span th:text="${product.price}"></span></li>
	</ul>
	
	<th:block th:each="item: ${items}">
		<li th:text="${item.name}"></li>
		  <li th:text="${item.price}"></li>
	</th:block>
</body>

</html>